.{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-header{
    background-color: cornflowerblue;
}
.form-control{
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}
.card{
    border: 1px solid lightblue;
}